<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Empower-APILogs" value="off" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AllowedDomains" value="http://localhost" />
    <add key="Domain" value="http://localhost:49181" />
    <add key="LogPath" value="D://Logs/Empower" />
    <add key="PlayerDocumentServerFolder" value="~/PlayerDocument/" />
    <add key="SchoolDocumentServerFolder" value="~/SchoolDocument/" />
    <add key="PlayerImageServerFolder" value="~/PlayerImage/" />
    <add key="MicroSoftReDirectURL" value="http://localhost:3000/home/about" />    
    <add key="MicroSoftClientId" value="9295c1b1-081a-4ae8-848e-dbd66dd206a3" />
    <add key="MicroSoftClientSecret" value="fvcQTST43^}bplhHMV930(+" />
     <add key="EmpowerSQLConnection" value="Data Source=CTPL-DELL-LTP-R\MSSQLSERVER17;Initial Catalog=Empower;User Id=sa;Password=admin123" />

    <!--<add key="EmpowerSQLConnection" value="Data Source=Empower-dev-db.database.windows.net;Initial Catalog=QA_EmpowerV1;User Id=Empower_dev_dba;Password=/5km-G8QV,Yqz3&gt;5;" />-->
   <!--azure storage-->
    <add key="AzureConnection" value="DefaultEndpointsProtocol=https;AccountName=Empowerstorage;AccountKey=LyYzVSbAxde+rOoSGoebHHqZtspb3TFDuK25+dL+8/JvK5sDHQYun9oQkr6v2B0LQzoI8sCBmzTGR/MR1ZPdkA==;EndpointSuffix=core.windows.net" />
    <add key="AzureRedisCacheConnection" value="Empowerdev.redis.cache.windows.net:6380,password=gGy9AS0Ez9+3xe3AXlNTV0xRZTq2zyHbYrlyO54ohuM=,ssl=True,abortConnect=False,connectRetry=5, connectTimeout=15000000, synctimeout=15000000" />
    <add key="AzureContainerPlayerImage" value="playerimages" />
    <add key="AzureContainerPlayerDocument" value="playerdocuments" />
    <add key="AzureContainerSchoolDocument" value="schooldocuments" />
    <add key="AzureContainerGameLogos" value="gamelogos" />
    <add key="AzureContainerHtmlPrintReportDocument" value="htmlprintreports" />
    <!--PDF-->
    <add key="LicenseKey" value="FJqKm4mIm4qDm4qPlYubiIqViomVgoKCgpuL" />
    <add key="ToSeeDuplicateEvaluationsByUserIds" value="27" />
    <add key="ToSeeProspectPlayersByUserIds" value="27" />  
  
    <!--Crypto Keys Start-->
    <add key="CryptoEngineSecretKey" value="jXn2r5u8x/A?D(G+KaPdSgVkYp3s6v9y"/>
    <add key="CryptoEngineInitialVectorKey" value="p!9Ws,]hVeA3_X,;"/>
    <!--Crypto Keys Stop-->
      <!--HTML Template-->
    <add key="Empower-FallEvaluationHTML" value="FallEvaluation.html" />
    <add key="Empower-HTMLHeader" value="HTMLHeader.html" />
    <add key="Empower-MeetingNotesHTML" value="MeetingNotes.html" />
    <add key="Empower-HTMLHeaderforMeetingNotes" value="HTMLHeaderforMeetingNotes.html" />
    <add key="Empower-CharacterEvaluationHeader" value="Empower-CharacterEvaluationHeader.html" />
    <add key="Empower-CharacterEvaluationMainSection" value="Empower-CharacterEvaluationMainSection.html" />
    <add key="Empower-PreDraftHeader" value="PreDraftHeader.html" />
    <add key="Empower-PreDraftMainSection" value="PreDraftMainSection.html" />
    <add key="Empower-CharacterNoteHeader" value="CharacterNoteHeader.html" />
    <add key="Empower-CharacterNoteMainSection" value="CharacterNoteMainSection.html" />
    <add key="Empower-SummerEvaluationHeader" value="SummerEvaluationHeader.html" />
    <add key="Empower-SummerEvaluationMainSection" value="SummerEvaluationMainSection.html" />
    <add key="Empower-AllStarEvaluationHeader" value="AllStarEvaluationHeader.html" />
    <add key="Empower-AllStarEvaluationMainSection" value="AllStarEvaluationMainSection.html" />
    <add key="Empower-InjuryNotesHeader" value="InjuryNotesHeader.html" />
    <add key="Empower-InjuryNotesMainSection" value="InjuryNotesMainSection.html" />
    <add key="Empower-AgentNoteHeader" value="AgentNoteHeader.html" />
    <add key="Empower-AgentNoteMainSection" value="AgentNoteMainSection.html" />
    <add key="Empower-CoachEvaluationHeader" value="CoachEvaluationHeader.html" />
    <add key="Empower-CoachEvaluation" value="CoachEvaluation.html" />
    <add key="Empower-FinalEvaluationHeader" value="FinalEvaluationHeader.html" />
    <add key="Empower-FinalEvaluationMainSection" value="FinalEvalutionMainSection.html" />
    <add key ="Empower-CollegeCombineHeader" value="CollegeCombineHeader.html"/>
    <add key ="Empower-CollegeCombineMainSection" value="CollegeCombineMainSection.html"/>
    <add key ="Empower-CollegeCombineTableRow" value="CollegeCombineTableRow.html"/>
    <add key ="Empower-CollegeFallEvaluationEntryHeader" value="CollegeFallEvaluationEntryHeader.html"/>
    <add key ="Empower-CollegeFallEvaluationEntryMainSection" value="CollegeFallEvaluationEntryMainSection.html"/>
    <add key="Empower-NationalBowlRosterHeader50" value="NationalBowlRosterHeader50.html" />
    <add key="Empower-NationalBowlRosterMainSection50" value="NationalBowlRosterMainSection50.html" />
    <add key="Empower-NationalBowlRosterHeader75" value="NationalBowlRosterHeader75.html" />
    <add key="Empower-NationalBowlRosterMainSection75" value="NationalBowlRosterMainSection75.html" />
    <add key="Empower-NationalBowlRosterHeader90" value="NationalBowlRosterHeader90.html" />
    <add key="Empower-NationalBowlRosterMainSection90" value="NationalBowlRosterMainSection90.html" />
    <add key="Empower-AllStarRosterNotesHeader" value="AllStarRosterNotesHeader.html" />
    <add key="Empower-AllStarRosterNotesMainSection" value="AllStarRosterNotesMainSection.html" />
    <add key="Empower-CollegeRosterHeader" value="CollegeRosterHeader.html" />
    <add key="Empower-CollegeRosterMainSection" value="CollegeRosterMainSection.html" />
    <add key="Empower-NewPlayerGrade" value="NewPlayersGrade.html"/>
    <add key="Empower-PlayerGradeChange" value="PlayersGradeChange.html"/>
    <add key="Empower_XOSEvaluationHeader" value="XOSEvaluationHeader.html"/>
    <add key="Empower-XOSEvaluationMainSection" value="XOSEvaluationMainSection.html"/>
    <add key="Empower-PlayerMedicalScoreChange" value="MedicalScoreChange.html"/>

    <!--Master Ranked Player Start-->
    <add key="Empower-MasterPlayerRankedPlayerRow" value="MasterPlayerRankedPlayerRow.html" />
    <add key="Empower-MasterPlayerRankedTotalEvaluation" value="MasterPlayerRankedTotalEvaluation.html" />
    <add key="Empower-MasterPlayerRankedRepeatableHeader" value="MasterPlayerRankedRepeatableHeader.html" />
    <add key="Empower-MasterPlayerRankedReportFooter" value="MasterPlayerRankedReportFooter.html" />
    <add key="Empower-MasterPlayerRankedReportMainSection" value="MasterPlayerRankedReportMainSection.html"/>
    <add key="Empower-MasterPlayerRankedSchoolNameRow" value="MasterPlayerRankedSchoolNameRow.html"/>
    <add key="Empower-MasterPlayerRankHeader" value="MasterPlayerRankHeader.html"/>
    <!--Master Ranked Player Stop-->

    <!--Top 10 Graded Players Start-->
    <add key="Empower-Top10GradedPlayersHeader" value="Top10GradedPlayersHeader.html" />
    <add key="Empower-Top10GradedPlayersMainSection" value="Top10GradedPlayersMainSection.html" />
    <add key="Empower-Top10GradedPlayersFooter" value="Top10GradedPlayersFooter.html" />
    <add key="Empower-Top10GradedPlayersRowSection" value="Top10GradedPlayersRowSection.html" />
    <!--Top 10 Graded Players Stop-->

    <!--NCAA Directors Report Start-->
    <add key="Empower-NCAADirectorsHeader" value="NCAADirectorsHeader.html" />
    <add key="Empower-NCAADirectorsPlayerHeader" value="NCAADirectorsPlayerHeader.html" />
    <add key="Empower-NCAADirectorsPlayerContact" value="NCAADirectorsPlayerContact.html" />
    <add key="Empower-NCAADirectorsHWSCompare" value="NCAADirectorsHWSCompare.html" />
    <add key="Empower-NCAADirectorsNCAAGrades" value="NCAADirectorsNCAAGrades.html" />
    <add key="Empower-NCAADirectorsNCAAGradesRow" value="NCAADirectorsNCAAGradesRow.html" />
    <add key="Empower-NCAADirectorsNCAAStats" value="NCAADirectorsNCAAStats.html" />
    <add key="Empower-NCAADirectorsNCAAStatsRow" value="NCAADirectorsNCAAStatsRow.html" />
    <add key="Empower-NCAADirectorsNCAAAlerts" value="NCAADirectorsNCAAAlerts.html" />
    <add key="Empower-NCAADirectorsEmpowerFinalSummary" value="NCAADirectorsEmpowerFinalSummary.html" />
    <add key="Empower-NCAADirectorsInjuries" value="NCAADirectorsInjuries.html" />
    <add key="Empower-NCAADirectorsInjuriesRow" value="NCAADirectorsInjuriesRow.html" />
    <add key="Empower-NCAADirectorsAreaCharacter" value="NCAADirectorsAreaCharacter.html" />
    <add key="Empower-NCAADirectorsFirstPageFooter" value="NCAADirectorsFirstPageFooter.html" />
    <add key="Empower-NCAADirectorsAllPageFooter" value="NCAADirectorsAllPageFooter.html" />
    <!--NCAA Directors Report Stop-->
    
    <add key="Empower-AllStarRosterOffenseDefenseCommonHTML50" value="AllStarRosterOffenseDefenseCommonHTML50.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseGroupSection50" value="AllStarRosterOffenseDefenseGroupSection50.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseSection50" value="AllStarRosterOffenseDefenseSection50.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseHeader50" value="AllStarRosterOffenseDefenseHeader50.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseFooter50" value="AllStarRosterOffenseDefenseFooter50.html"/>

    <add key="Empower-AllStarRosterOffenseDefenseCommonHTML75" value="AllStarRosterOffenseDefenseCommonHTML75.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseGroupSection75" value="AllStarRosterOffenseDefenseGroupSection75.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseSection75" value="AllStarRosterOffenseDefenseSection75.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseHeader75" value="AllStarRosterOffenseDefenseHeader75.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseFooter75" value="AllStarRosterOffenseDefenseFooter75.html"/>

    <add key="Empower-AllStarRosterOffenseDefenseCommonHTML90" value="AllStarRosterOffenseDefenseCommonHTML90.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseGroupSection90" value="AllStarRosterOffenseDefenseGroupSection90.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseSection90" value="AllStarRosterOffenseDefenseSection90.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseHeader90" value="AllStarRosterOffenseDefenseHeader90.html"/>
    <add key="Empower-AllStarRosterOffenseDefenseFooter90" value="AllStarRosterOffenseDefenseFooter90.html"/>

    <!--Combine Medical Report-->
    <add key="Empower-CombineMedicalReportHeader" value="CombineMedicalReportHeader.html"/>
    <add key="Empower-CombineMedicalReportMainSection" value="CombineMedicalReportMainSection.html"/>

    <!--Combine Notes Report-->
    <add key="Empower-CombineNotesHeader" value="CombineNotesHeader.html"/>
    <add key="Empower-CombineNotesMainSection" value="CombineNotesMainSection.html"/>

    <!--Combine Roster Report-->
    <add key="Empower-CombineRosterOffenseDefenseCommonHTML50" value="CombineRosterOffenseDefenseCommonHTML50.html"/>
    <add key="Empower-CombineRosterOffenseDefenseGroupSection50" value="CombineRosterOffenseDefenseGroupSection50.html"/>
    <add key="Empower-CombineRosterOffenseDefenseSection50" value="CombineRosterOffenseDefenseSection50.html"/>
    <add key="Empower-CombineRosterOffenseDefenseHeader50" value="CombineRosterOffenseDefenseHeader50.html"/>
    <add key="Empower-CombineRosterOffenseDefenseFooter50" value="CombineRosterOffenseDefenseFooter50.html"/>

    <add key="Empower-CombineRosterOffenseDefenseCommonHTML75" value="CombineRosterOffenseDefenseCommonHTML75.html"/>
    <add key="Empower-CombineRosterOffenseDefenseGroupSection75" value="CombineRosterOffenseDefenseGroupSection75.html"/>
    <add key="Empower-CombineRosterOffenseDefenseSection75" value="CombineRosterOffenseDefenseSection75.html"/>
    <add key="Empower-CombineRosterOffenseDefenseHeader75" value="CombineRosterOffenseDefenseHeader75.html"/>
    <add key="Empower-CombineRosterOffenseDefenseFooter75" value="CombineRosterOffenseDefenseFooter75.html"/>

    <add key="Empower-CombineRosterOffenseDefenseCommonHTML90" value="CombineRosterOffenseDefenseCommonHTML90.html"/>
    <add key="Empower-CombineRosterOffenseDefenseGroupSection90" value="CombineRosterOffenseDefenseGroupSection90.html"/>
    <add key="Empower-CombineRosterOffenseDefenseSection90" value="CombineRosterOffenseDefenseSection90.html"/>
    <add key="Empower-CombineRosterOffenseDefenseHeader90" value="CombineRosterOffenseDefenseHeader90.html"/>
    <add key="Empower-CombineRosterOffenseDefenseFooter90" value="CombineRosterOffenseDefenseFooter90.html"/>
    <!--Combine Roster List Report-->
    <add key="Empower-CombineRosterListHeader50" value="CombineRosterListHeader50.html" />
    <add key="Empower-CombineRosterListMainSection50" value="CombineRosterListMainSection50.html" />
    <add key="Empower-CombineRosterListHeader75" value="CombineRosterListHeader75.html" />
    <add key="Empower-CombineRosterListMainSection75" value="CombineRosterListMainSection75.html" />
    <add key="Empower-CombineRosterListHeader90" value="CombineRosterListHeader90.html" />
    <add key="Empower-CombineRosterListMainSection90" value="CombineRosterListMainSection90.html" />

    <!--DraftEligible Medical Report-->
    <add key="Empower-DraftEligibleMedicalReportHeader" value="DraftEligibleMedicalReportHeader.html" />
    <add key="Empower-DraftEligibleMedicalReportMainSection" value="DraftEligibleMedicalReportMainSection.html" />
    <add key="Empower-DraftEligibleMedicalReportNoteTable" value="DraftEligibleMedicalReportNoteTable.html" />
    <add key="Empower-DraftEligibleMedicalReportExtendedPage" value="DraftEligibleMedicalReportExtendedPage.html" />
    <add key="Empower-DraftEligibleMedicalReportFooter" value="DraftEligibleMedicalReportFooter.html" />

    <!--Combine ReCheck Report-->
    <add key="Empower-CombineReCheckReportHeader" value="CombineReCheckReportHeader.html" />
    <add key="Empower-CombineReCheckReportMainSection" value="CombineReCheckReportMainSection.html" />
    <add key="Empower-CombineReCheckReportNoteTable" value="CombineReCheckReportNoteTable.html" />
    <add key="Empower-CombineReCheckReportExtendedPage" value="CombineReCheckReportExtendedPage.html" />
    <add key="Empower-CombineReCheckReportFooter" value="CombineReCheckReportFooter.html" />

    <!--CollegeProdayWorkout-->
    <add key="Empower-CollegeProDayWorkoutHeader" value="CollegeProDayWorkoutHeader.html"/>
    <add key="Empower-CollegeProDayWorkoutMainSection" value="CollegeProDayWorkoutMainSection.html"/>
    <add key="Empower-CollegeProDayWorkoutRowHTML" value="CollegeProDayWorkoutRowHTML.html"/>

    <!--DraftPhoneList report-->
    <add key="Empower-DraftPhoneListHeader" value="DraftPhoneListHeader.html"/>
    <add key="Empower-DraftPhoneListMainSection" value="DraftPhoneListMainSection.html"/>
    <add key="Empower-DraftPhoneListRowHTML" value="DraftPhoneListRowHTML.html"/>

    <!--Simplified DraftPhoneList report-->
    <add key="Empower-SimplifiedDraftPhoneListHeader" value="SimplifiedDraftPhoneListHeader.html"/>
    <add key="Empower-SimplifiedDraftPhoneListMainSection" value="SimplifiedDraftPhoneListMainSection.html"/>
    <add key="Empower-SimplifiedDraftPhoneListRowHTML" value="SimplifiedDraftPhoneListRowHTML.html"/>
   
    <!--NFSCharacterReport-->
    <add key="Empower-NFSCharacterHeader" value="NFSCharacterHeader.html"/>
    <add key ="Empower-NFSCharacterMainSection" value="NFSCharacterMainSection.html"/>

    <!--EmailSchedular-->
    <add key="Empower-EmailSchedularHTMLTemplate" value="EmailSchedularHTMLTemplate.html"/>
    <add key="FromAddress" value="cosdev002@gmail.com"/>
    <add key="Password" value="Hanish123"/>
    <add key="ToAddress" value="Empower-testing@costrategixltd.onmicrosoft.com"/>

    <!--<add key="EmptyCheckboxImagePath" value="file:///D:/New_Template_HTML/empty-checkbox.png" />-->
    <add key="EmptyCheckboxImagePath" value="https://Empower-stage-lab1.cosdevx.com/static/media/empty-checkbox.png" />
    <add key="EmptyLightCheckboxImagePath" value="https://Empower-stage-lab1.cosdevx.com/static/media/empty-light-checkbox.png" />
    <add key="BlueCheckboxImagePath" value="https://Empower-stage-lab1.cosdevx.com/static/media/blue-checkbox.png" />
    <add key="CryptoEngineSecretKey" value="jXn2r5u8x/A?D(G+KaPdSgVkYp3s6v9y"/>
    <add key="CryptoEngineInitialVectorKey" value="p!9Ws,]hVeA3_X,;"/>
    <add key="Empower-CoachBriefHeader" value="CoachBriefHeader.html"/>
    <add key="Empower-CoachBriefMainSection" value="CoachBriefMainSection.html"/>
    <add key="Empower-PlayerMedicalScoreChange" value="MedicalScoreChange.html"/>
  
    <!--PDF Path Start-->
    <add key="PDFFilePath" value="F:\Logs\EmpowerPerformance\Pdfs\" />
    <!--PDF Path End-->

    <add key="DefaultUserImage" value="https://api.coltdev.com/xml/UserImageEmpty.png"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="EmpowerContext" connectionString="Data Source=Empower-dev-db.database.windows.net;Initial Catalog=DEV_Empower;User Id=Empower_dev_dba;Password=/5km-G8QV,Yqz3&gt;5;" providerName="System.Data.SqlClient" />-->
    <!--<add name="EmpowerContext" connectionString="Data Source=Empower-dev-db.database.windows.net;Initial Catalog=QA_EmpowerV1;Integrated Security=FALSE;Max Pool Size=200;MultipleActiveResultSets=true;user=Empower_dev_dba;pwd=/5km-G8QV,Yqz3&gt;5;" providerName="System.Data.SqlClient" />-->
    <add name="EmpowerContext" connectionString="Data Source=CTPL-DELL-LTP-R\MSSQLSERVER17;Initial Catalog=Empower;Integrated Security=FALSE;Max Pool Size=200;MultipleActiveResultSets=True;user=sa;pwd=admin123" providerName="System.Data.SqlClient" />
    <!--<add name="EmpowerContext" connectionString="Data Source=Empower-stage-db.database.windows.net;Initial Catalog=Stage_Empower;Integrated Security=FALSE;Max Pool Size=200;MultipleActiveResultSets=True;user=Empower_stage_dba;pwd=/5km-G8QV-Yqz3>5" providerName="System.Data.SqlClient" />-->
    <!--<add name="EmpowerContext" connectionString="Data Source=Empower-prod-db.database.windows.net;Initial Catalog=Pre_Prod_Empower;Integrated Security=FALSE;Max Pool Size=200;MultipleActiveResultSets=True;user=Empower_prod_dba;pwd=8Hm-G8/qV-Ysz3>5" providerName="System.Data.SqlClient" />-->
    <!--<add name="EmpowerContext" connectionString="Data Source=Empower-prod-db.database.windows.net;Initial Catalog=Pre_Prod_Empower;Integrated Security=FALSE;Max Pool Size=200;MultipleActiveResultSets=True;user=Empower_prod_dba;pwd=8Hm-G8/qV-Ysz3>5" providerName="System.Data.SqlClient" />-->
    <!--<add name="EmpowerContext" connectionString="Data Source=Empower-prod-db.database.windows.net;Initial Catalog=prod_Empower;Integrated Security=FALSE;Max Pool Size=200;MultipleActiveResultSets=True;user=Empower_prod_dba;pwd=8Hm-G8/qV-Ysz3>5" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <!--<system.transactions > 
        --><!--<defaultSettings timeout="02:00:00" />--><!--
        <machineSettings maxTimeout="02:30:00"  /> 
  </system.transactions>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1048576"  />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, PATCH, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, x-token" />

      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="WebDAV" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".scss" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".scss" mimeType="text/css" />
      <remove fileExtension=".otf" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".otf" mimeType="text/openfont" />
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>